# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# ----------------------------
# Environment variables
# ----------------------------
.env
.env.*
*.env

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/secrets.toml

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Build / dist
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# IDE / Editors
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Testing / coverage
# ----------------------------
.coverage
htmlcov/

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.temp

# ----------------------------
# Streamlit artifacts
# ----------------------------
assets/demo.gif